body {
    background-color:#000000;
    background-image: url('hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #718355; /* Default text color */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}


a {
    color: #6c584c; 
    text-decoration: none;
}


a:hover {
    color: #f5ebe0;
    text-decoration: underline;
}


h1 {
    color: #6a040f; 
    font-size: 36px;
    margin: 24px 0 8px;
}
h2 {
    color: #717744; 
    font-size: 28px;
    margin: 16px 0 8px;
}

.container {
    text-align: left;
    max-width: 550px;  /* Limit the width of the container */
    margin: 0 auto;
    position: absolute;
    padding: 15px; /* Optional: add side padding for mobile screens */
    background-color: #edede9
    border-radius: 10px
  

}


.left-text {
  text-align: left;
}

.my-button {
  background-color: #656d4a; /* Button color */
  color: #c2c5aa;              /* Text color */
  padding: 20px 30px;       /* Space inside the button */
  border: none;             /* Remove default border */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;          /* Change mouse to hand icon on hover */
  font-size: 25px;          /* Size of the text */
  transition: 0.3s;         /* Smooth animation for effects */
  text-decoration: none;    /* Removes underline if using <a> tag */
  display: inline-block;    /* Ensures proper sizing for links */
}

/* Hover effect: changes color when the mouse is over the button */
.my-button:hover {
  background-color: #780000;
}

.text-container {
  column-count: 2;
  column-gap: 40px; /* Optional: adds space between columns */
  column-rule: 1px solid #588157; /* Optional: adds a vertical line between columns */
}

.row {
  display: flex;
}
.column {
  flex: 50%; /* Makes both columns take up equal half of the width */
  padding: 10px;
}

.speech-bubble {
    padding: 12px 16px;          /* space between text and border */
    border: 6px solid #333333;   /* visible outline */
    border-radius: 60px;          /* rounds corners into bubble shape */
    margin: 10px;                 /* space outside the bubble */
     background-color: #ffffff;
}
